name: CI/CD - Build and Push to GHCR

on:
  push:
    branches: [ "main" ]

# Autorisations nécessaires pour écrire l'image dans le registry GitHub
permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. Connexion au Registry GitHub (GHCR)
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 2. Préparation du nom de l'image (en minuscules)
      - name: Set image name
        run: echo "IMAGE_URL=ghcr.io/${{ github.repository_owner }}/mon-app-python:latest" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV

      # 3. Build et Push de l'image
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_URL }}
